body {
  font-family: 'Courier New', Courier, monospace; /* Changed to monospace fonts */
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}

.events {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 20px 0;
}

.event-link {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: background-color 0.3s ease;
  margin-bottom: 30px; /* Add spacing between event links */
}

.event {
  margin-bottom: 30px; /* Space between events */
}

.event:last-child {
  margin-bottom: 0; /* Remove extra space after the last event */
}

.event-link:hover {
  background-color: #111;
  color: #3498db; /* Change text color to blue on hover */
}

.date {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

.title {
  display: inline-block;
}

.social-links {
  text-align: center;
  margin-top: 40px;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  text-decoration: underline;
}

.social-link:hover {
  background-color: #111;
  color: #3498db; /* Change text color to blue on hover */
}

.github:before {
  content: "GitHub";
}

.twitter:before {
  content: "Twitter/X";
}

.linkedin:before {
  content: "LinkedIn";
}

.medium:before {
  content: "Medium";
}